<form #frm="ngForm" class="container form shadow" (ngSubmit)="submitForm(frm)">
  <h1>User Registration</h1>
  <div class="row mt-3" style="margin-top: 15px;">
    <label class="col-md-2" for="firstName">First Name</label>
    <input type="text" 
      class="form-control col-md-6" 
      name="firstName" 
      id="firstName"  
      ngModel 
      #firstName="ngModel"
      [(ngModel)] = "userModel.firstName"
      placeholder="Enter First Name" 
      minlength="3"
      maxlength="25"
      required
    />
  </div>
  <span *ngIf="firstName?.touched && firstName?.invalid" class="row" style="margin-top: 15px;">
      <span class="text-danger" *ngIf="firstName.errors?.required">
          First Name required
      </span>
      <span class="text-danger"  *ngIf="firstName.errors?.minlength">
          First Name length should be min 3 and max 25 characters
      </span>
  </span>
  <div class="row mt-3" style="margin-top: 15px;">
    <label class="col-md-2" for="middleName">Middle Name</label>
    <input 
      type="text" 
      class="form-control col-md-6" 
      name="middleName" 
      id="middleName"  
      ngModel 
      #middleName="ngModel" 
      [(ngModel)] = "userModel.middleName"
      placeholder="Enter First Name"
      minlength="3"
      maxlength="25"
      required 
    />
  </div>
  <span *ngIf="middleName?.touched && middleName?.invalid" class="row" style="margin-top: 15px;">
    <span class="text-danger" *ngIf="middleName.errors?.required">
        Middle Name required
    </span>
    <span class="text-danger"  *ngIf="middleName.errors?.minlength">
        Middle Name length should be min 3 and max 25 characters
    </span>
  </span>
  <div class="row mt-3" style="margin-top: 15px;">
    <label class="col-md-2" for="lastName">Last Name</label>
    <input 
      type="text" 
      class="form-control col-md-6" 
      name="lastName" 
      id="lastName"  
      ngModel 
      #lastName="ngModel" 
      [(ngModel)] = "userModel.lastName"
      placeholder="Enter Last Name" 
      minlength="3"
      maxlength="25"
      required
    />
  </div>
  <span *ngIf="lastName?.touched && lastName?.invalid" class="row" style="margin-top: 15px;">
    <span class="text-danger" *ngIf="lastName.errors?.required">
        Last Name required
    </span>
    <span class="text-danger"  *ngIf="lastName.errors?.minlength">
        Last Name length should be min 3 and max 25 characters
    </span>
  </span>
  <div class="row mt-3" style="margin-top: 15px;">
    <label class="col-md-2" for="gender">Gender</label>
    <select 
    class="form-control"
    name="gender" 
    id="gender"  
    ngModel 
    #gender="ngModel" 
    [(ngModel)] = "userModel.gender"
    required
    >
      <option value="" selected>Select</option>
      <option value="male">Male</option>
      <option value="female">FeMale</option>
      <option value="others">Others</option>
    </select>
  </div>
  <span *ngIf="gender?.touched && gender?.invalid" class="row" style="margin-top: 15px;">
    <span class="text-danger" *ngIf="gender.errors?.required">
        Gender required
    </span>
  </span>
  <div class="row mt-3" style="margin-top: 15px;">
    <label class="col-md-2" for="mobile">Mobile</label>
    <input 
      type="text" 
      class="form-control col-md-6" 
      name="mobile" 
      id="mobile"  
      ngModel 
      #mobile="ngModel" 
      [(ngModel)] = "userModel.mobile"
      placeholder="Enter Mobile" 
      minlength="10"
      maxlength="15"
      required
    />
  </div>
  <span *ngIf="mobile?.touched && mobile?.invalid" class="row" style="margin-top: 15px;">
    <span class="text-danger" *ngIf="mobile.errors?.required">
        Mobile required
    </span>
    <span class="text-danger"  *ngIf="mobile.errors?.minlength">
        Mobile length should be min 10 and max 15 characters
    </span>
  </span>
  <div class="row mt-3" style="margin-top: 15px;">
    <label class="col-md-2" for="emailId">Username</label>
    <input 
      type="text" 
      class="form-control col-md-6" 
      name="username" 
      id="username"  
      ngModel 
      #username="ngModel" 
      [(ngModel)] = "userModel.username"
      placeholder="Enter User Name" 
      minlength="3"
      maxlength="25"
      required
    />
  </div>
  <span *ngIf="username?.touched && username?.invalid" class="row" style="margin-top: 15px;">
    <span class="text-danger" *ngIf="username.errors?.required">
        User Name required
    </span>
    <span class="text-danger"  *ngIf="username.errors?.minlength">
        User Name length should be min 3 and max 25 characters
    </span>
  </span>
  <div class="row mt-3" style="margin-top: 15px;">
    <label class="col-md-2" for="emailId">Email Address</label>
    <input 
      type="email" 
      class="form-control col-md-6" 
      name="emailId" 
      id="emailId"  
      ngModel 
      #emailId="ngModel" 
      [(ngModel)] = "userModel.emailId"
      placeholder="Enter Email Address" 
      minlength="3"
      maxlength="25"
      required
    />
  </div>
  <span *ngIf="emailId?.touched && emailId?.invalid" class="row" style="margin-top: 15px;">
    <span class="text-danger" *ngIf="emailId.errors?.required">
        Email id required
    </span>
    <span class="text-danger"  *ngIf="emailId.errors?.minlength">
        Email id length should be min 3 and max 25 characters
    </span>
  </span>
  <div class="row mt-3" style="margin-top: 15px;">
    <label class="col-md-2" for="password">Password</label>
    <input 
      type="password" 
      class="form-control col-md-6" 
      name="password" 
      id="password"  
      ngModel 
      #password="ngModel" 
      [(ngModel)] = "userModel.password"
      placeholder="Enter Password" 
      minlength="8"
      maxlength="16"
      required
    />
  </div>
  <span *ngIf="password?.touched && password?.invalid" class="row" style="margin-top: 15px;">
    <span class="text-danger" *ngIf="password.errors?.required">
        Password required
    </span>
    <span class="text-danger"  *ngIf="password.errors?.minlength">
        Password length should be min 8 and max 16 characters
    </span>
  </span>
  <div class="row mt-3" style="margin-top: 15px;">
    <button type="submit" class="btn btn-primary" [disabled] = "!frm.form.valid" >Submit</button>
    <button type="reset" class="btn btn-danger" style="margin-left: 10px;">Reset</button>
  </div>
</form>